# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
#lap==0.4.0
matplotlib==3.4.2
motmetrics==1.2.0
numpy==1.21.0
opencv-python==4.5.2.54
openpyxl==3.0.7
paddlepaddle-gpu==2.1.1.post112
pandas==1.2.4
psutil==5.8.0
PyQt5-sip==12.9.0
requests==2.25.1
scipy==1.6.3
Shapely==1.7.1
six==1.16.0
terminaltables==3.1.0
tqdm==4.61.1
typeguard==2.12.1
visualdl==2.2.0
# absl-py
# altgraph
# appdirs
# astor
# atomicwrites
# attrs
# Babel
# bce-python-sdk
# cachetools
# certifi
# cfgv
# chardet
# click
# colorama
# configparser
# cx-Freeze
# cx-Logging
# cycler
# Cython
cython-bbox @ file:///C:/Users/andyzhong/src/cython-bbox/dist/cython_bbox-0.1.3-cp37-cp37m-win_amd64.whl
# decorator
# decord
# distlib
# docker-pycreds
# et-xmlfile
# filelock
# flake8
# flake8-import-order
# Flask
# Flask-Babel
# future
# gast
# gitdb
# GitPython
# google-auth
# google-auth-oauthlib
# grpcio
# identify
# idna
# importlib-metadata
# iniconfig
# itsdangerous
# Jinja2
# joblib
# kiwisolver
# Markdown
# MarkupSafe
# mccabe
# nodeenv
# oauthlib
# packaging
# paddledet
# pathtools
# pefile
# Pillow
# pluggy
# pre-commit
# promise
# protobuf
# py
# py-cpuinfo
# pyasn1
# pyasn1-modules
# pycocotools
pycocotools-windows @ file:///C:/ProgramData/Anaconda3/Lib/site-packages/pycocotools_windows-2.0.0.2-cp37-cp37m-win_amd64.whl
# pycodestyle
# pycryptodome
# pyflakes
# pyinstaller
# pyinstaller-hooks-contrib
# pyparsing
PyQt5
PyQt5-Qt5
# pytest
# pytest-benchmark
# python-dateutil
# pytz
# pywin32-ctypes
# PyYAML
# QPT
# requests-oauthlib
# rsa
# scikit-learn
# seaborn
# sentry-sdk
# shellcheck-py
# shortuuid
# sklearn
# smmap
# subprocess32
# tensorboard
# tensorboard-data-server
# tensorboard-plugin-wit
# thop
# threadpoolctl
# toml
# torch
# torchaudio
# torchvision
# typing-extensions
# urllib3
# virtualenv
# wandb
# Werkzeug
# wget
# wincertstore
# xmltodict
# zipp
